# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.UnityElementsCarousel.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\uswil\Desktop\GitHub\UnityElementsCarousel\.idea\.idea.UnityElementsCarousel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
